@use '../util' as *;

button .button {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: rem(18);

  a {
    color: white;
  }

  a:hover {
    color: var(--primaryDkBlue);
    transition: all 200ms ease-in-out;
  }
}

.btn {
  font-family: var(--font-heading);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: rem(2); //1px
  padding: rem(10) rem(20); // 8px 16px
  border-radius: rem(5);
  cursor: pointer;
  letter-spacing: rem(1); // 1px
  font-size: rem(18);

  &__cta,
  &__contact {
    color: white;
  }

  a:hover {
    color: var(--primaryDkBlue);
    transition: all 200ms ease-in-out;
  }

  &--lc {
    text-transform: lowercase;
    font-weight: 300;
  }

  &--white {
    background-color: var(--white);
    border: 1px solid var(--primaryDkBlue);
    color: var(--primaryDkBlue);
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--primaryDkBlue);
      color: var(--white);
      border: rem(1) solid var(--white);
      transition: all 300ms ease-in-out;
    }
  }

  &--dark {
    background-color: var(--primaryDkBlue);
    border: rem(1) solid var(--primaryDkBlue);
    color: var(--white);
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--white);
      color: var(--primaryDkBlue);
      border: rem(1) solid var(--primaryDkBlue); // 1px
      transition: all 300ms ease-in-out;
    }

    &-footer {
      font-size: rem(24); // 24px
      font-weight: 500;
      padding: rem(10) rem(56); // 10px 56px
      text-transform: uppercase;
      letter-spacing: rem(1); // 1px
      display: block;
    }
  }

  &--yellow {
    background-color: var(--primaryYellow);
    border: rem(1) solid var(--primaryYellow);
    color: var(--primaryDkBlue);
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--white);
      color: var(--primaryDkBlue);
      border: rem(1) solid var(--primaryYellow); // 1px
      transition: all 300ms ease-in-out;
    }
  }
}

.nav__item--btn,
.footer__item--btn {
  margin-left: rem(35);
  background-color: transparent;
  border: none;

  @include breakpoint-down(medium) {
      margin-left: 0px;
  }
}