:root {
  --primaryDkBlue: hsl(208, 100%, 34%); // #005cab; // RGB(0, 92, 171)
  --primaryMedBlue: hsl(208, 51%, 67%); // #7fadd5; // RGB(127, 173, 213)
  --primaryLtBlue: hsl(200, 89%, 85%); // #b9e5fb; // RGB(185,229,251)
  --primaryYellow: hsl(49, 100%, 50%); // #ffd100; // RGB(255, 209, 0)
  --primaryYellow_60: hsl(49, 100%, 50%, 0.6); // #ffd100; // RGBA(255, 209, 0, 0.6)
  --primaryYellow_80: hsl(49, 100%, 50%, 0.8); // #ffd100; // RGBA(255, 209, 0, 0.8)
  --primaryYellow_90: hsl(49, 100%, 50%, 0.9); // #ffd100; // RGBA(255, 209, 0, 0.9)
  --primaryDkYellow: hsl(60, 100%, 38%); // #c3c300; // RGB(195,195,0)
  --primaryDkGreen: hsl(124, 45%, 47%); // #41ad49; // RGB(65,173,73)
  --primaryGreen: hsl(92, 51%, 51%); // #7dc242; // RGB(125, 194, 66)
  --primaryOrange: hsl(32, 94%, 60%); // #f9a13a; // RGB(249, 161, 58)
  --primaryDkOrange: hsl(23, 73%, 43%); // #bc5b1d; // RGB(188,91,29)
  --primaryRed: hsl(347, 100%, 45%); // #e70033; // RGB(231, 0, 51)
  --primaryGrey: hsl(0, 0%, 50%); // #808080; // RGB(128, 128, 128)
  --primaryGreyDk: hsl(0, 0%, 23%); // #3b3b3b; // RGB(59, 59, 59)
  --primaryGreyMed: hsl(0, 0%, 60%); // #999999; // RGB(153, 153, 153)
  --primaryGreyLt: hsl(0, 0%, 80%); // #cccccc; // RGB(204, 204, 204)
  --weBlue: hsl(196, 100%, 47%); // #00aeef; // RGB(0,174,239)
  --darkBlue: hsl(218, 61%, 31%); // #1f4280 // RGB(31, 66, 128)

  // BASE Colors
  --black: hsl(340, 14%, 4%); // #0c090a; // RGB(12, 9, 10)
  --blackMed: hsl(340, 3%, 23%); // #3d3a3b; // RGB(61, 58, 59)
  --blackLt: hsl(0, 1%, 62%); // #9e9d9d; // RGB(158, 157, 157)
  --textGrey: hsl(0, 0%, 44%); // #707070; // RGB(112, 112, 112)
  --footerGrey: hsl(0, 0%, 81%); // #cecece; // RGB(206, 206,206)
  --slateGrey: hsl(210, 13%, 50%); // #708090; // RGB(112,128,144)
  --dkSlateGrey: hsl(180, 25%, 25%); // #2f4f4f; // RGB(47,79,79)
  --dkGray: hsl(0, 0%, 41%); // #686868; //RGB(104,104,104)
  --ltGray: hsl(0, 0%, 83%); // #d3d3d3; // RGB(211,211,211)
  --white: hsl(0, 0%, 100%); // #ffffff; // RGB(255,255,255)
}